.share-icon{
   background-color: #FCD87E;
   border-radius: 100%;
   padding: 15px;
}

.see-btn{
   display: flex;
   flex-direction: initial ;
}


.service-card{
   transition: 0.4s;
}

.service-card:hover{
   box-shadow: 10px 10px 24px -13px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.service-card:hover .card-title{
   color: #D37A42;
}
